<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvoo9j87ZUTVVmWw803OWV-DU6-IF1vMU</string>
	<key>GCM_SENDER_ID</key>
	<string>667901837097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dataBaseBelajar.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>data-base-belajar</string>
	<key>STORAGE_BUCKET</key>
	<string>data-base-belajar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667901837097:ios:e496bb2dad4d5f50f8c138</string>
</dict>
</plist>